[push]
    default = simple
    autoSetupRemote = true
[core]
    editor = /opt/homebrew/bin/nvim
    excludesfile = ~/.gitignore.global
    pager = diff-so-fancy | less --tabs=2 -RFX
[alias]
    g = git
    c = commit -am
    co = switch
    bc = switch -c
    bx = branch -D
    ba = branch --all
    cmsg = commit -m
    unstage = reset --
    undo = reset HEAD~ # undo the last commit. only works locally.
    branch-name = rev-parse --abbrev-ref HEAD
    publish = push -u origin $(git branch-name)
    pub = push -u origin $(git branch-name)
    conflicts = diff --name-only --diff-filter=U
[log]
    date = iso
[filter "lfs"]
    required = true
    process = git-lfs filter-process
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
# prefer ssh to https
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
# use separate file for user info
# .gitconfig.local includes default git user info, as well as other stuff.
# if the repo is inside the ~/work directory, load the work git config,
# which will overwrite the git user to be my work credentials
[include]
    path = ~/.gitconfig.local
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig.work
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green bold 22
[credential]
    helper = osxkeychain
[remote "origin"]
    prune = true
[pull]
    rebase = false
[init]
    defaultBranch = main
[credential "https://github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential
