alias k="clear"
alias x="exit"
alias q="exit"
alias :q="exit"
alias la="ls -la"
alias ltr="ls -ltr"
alias vi=vim # prefer vim to vi
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias rm=trash # safer deleting using trash-cli
alias please=sudo # nicer sudo
alias resource="source ~/.bash_profile"
alias ip="getip" # shorter alias for getip() function in .functions setup

# Git
alias gmm="git merge master"
alias gf="git fetch --all --prune"
alias gl="git pull"
alias gd="git diff"
alias ga="git add"
alias gco="git checkout"
alias gbc="git checkout -b"
alias gcm="git checkout master"
alias glm="git checkout master && git pull"
alias glmm="pull_and_merge_master"
alias gcam="git commit -am"
alias gcmsg="git commit --message"
alias gs="git status"
alias gba="git branch --all"
alias glg="git log --graph --decorate --pretty=oneline --abbrev-commit --all"
alias gconflicts="git diff --name-only --diff-filter=U"
alias clone="git clone"
alias gpub="publish_current_branch"
alias gbam="delete_local_merged_branches"
alias gbamr="delete_remote_merged_branches"
alias gclean="delete_local_merged_branches && delete_remote_merged_branches"
alias gopen="open_in_github"

# NPM
alias ni="npm install"
alias use_npm="npm set registry https://registry.npmjs.org/ && npm get registry"
alias use_wwt="npm set registry http://sinopia.wwt.com/ && npm get registry"

# start screensaver
alias afk="open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app"

# get current weather
alias weather="curl wttr.in"

# Atom
# These might be a bad idea but I only have Atom Beta installed and it's annoying to have to use the separate -beta cli
# This is quite likely going to be an issue for anyone who forks/clones this repo and uses regular Atom.
alias atom="atom-beta"
alias apm="apm-beta"
alias ab="atom-beta ."

# start/stop tomcat server
alias tomcat_start="/Library/Tomcat/bin/startup.sh"
alias tomcat_stop="/Library/Tomcat/bin/shutdown.sh"

