[push]
	default = simple
[core]
	editor = /usr/local/bin/vim
  excludesfile = ~/.gitignore.global
	pager = diff-so-fancy | less --tabs=2 -RFX
[alias]
	g = git
	c = commit -am
	co = checkout
	bc = checkout -b
	bx = branch -D
	ba = branch --all
	cmsg = commit -m
	unstage = reset --
	branch-name = rev-parse --abbrev-ref HEAD
	publish = push -u origin $(git branch-name)
	pub = push -u origin $(git branch-name)
	mm = merge master
	f = fetch --all --prune
	l = pull
	d = diff
	a = add
	cm = checkout master
	lm = "!git checkout master && git pull"
	s = status
	lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
	conflicts = diff --name-only --diff-filter=U
	# Delete any branches that have been merged into master
	# See also: https://gist.github.com/robmiller/5133264
	cleanup = !git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
[log]
	date = iso
[filter "lfs"]
	required = true
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

# use separate file for user info
[include]
  path = ~/.gitconfig.local
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold 52
	newNormal = green
	newHighlight = green bold 22
[credential]
	helper = osxkeychain
[remote "origin"]
	prune = true
[user]
	name = Mike McBride
	email = mmcbride1007@gmail.com
