[user]
	name = Mike McBride
	email = mmcbride1007@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = /usr/local/bin/vim
