alias k=clear
alias ltr="ls -ltr"
alias vim=nvim
alias rm=trash
alias please=sudo
alias resource="exec zsh"
alias ip=getip
alias bbd="brew bundle dump --force"
alias cat=bat
alias sed=gsed
alias n=fnm

# Git
alias gmm='git merge origin/"$(git_main_branch)"'
alias gbx="git branch -D"
alias gbc="git checkout -b"
alias glm='git checkout "$(git_main_branch)" && git pull'
alias glmm='git checkout "$(git_main_branch)" && git pull && git checkout - && git merge "$(git_main_branch)"'
alias gs="git status"
alias glg="git log --graph --decorate --pretty=oneline --abbrev-commit --all"
alias gconflicts="git diff --name-only --diff-filter=U"
alias gpub="publish_current_branch"
alias gcl="delete_local_merged_branches"
alias gopen="gh repo view --web"
alias gpr="gh pr create --web"

# npm
alias r="npm run"
alias ni="npm install"
