# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# add stuff to PATH
path+=('/opt/homebrew')
path+=('/opt/homebrew/bin')
path+=('$(go env GOPATH)/bin')
export PATH

# fix ls colors
# i have no idea what this does but it makes the colors for directories and symlinks look right.
# e.g., blue for dirs and cyan for symlinks, instead of green/red respectively.
export LSCOLORS="exgxfxdacxDaDaxbadacex"

# goprivate
export GOPRIVATE=github.com/nytimes

# aws
export AWS_PROFILE=lettercase-dev-tenant-dev-foundations

# gum exports (github.com/charmbracelet/gum)
export GUM_FILTER_INDICATOR_FOREGROUND="#7dcfff"
export GUM_FILTER_TEXT_FOREGROUND="#a9b1d6"
export GUM_FILTER_MATCH_FOREGROUND="212"
export GUM_FILTER_PROMPT_FOREGROUND="#bb9af7"
export GUM_FILTER_PROMPT=" "
export GUM_FILTER_INDICATOR="ﰲ"
export GUM_FILTER_REVERSE="true"
export GUM_FILTER_HEIGHT="10"
