# vim as default
export EDITOR="vim"

export CURRENT_THEME="electronhighlighter"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# ripgrep config
export RIPGREP_CONFIG_PATH=$HOME/.ripgreprc

# fix ls colors
# i have no idea what this does but it makes the colors for directories and symlinks look right.
# e.g., blue for dirs and cyan for symlinks, instead of green/red respectively.
export LSCOLORS="exgxfxdacxDaDaxbadacex"

# goprivate
export GOPRIVATE=github.com/nytimes

# vault
export VAULT_ADDR="https://vault-prd.dv.nyt.net"

# aws
# export AWS_PROFILE=lettercase-dev-tenant-dev-foundations

# gum exports (github.com/charmbracelet/gum)
export GUM_FILTER_INDICATOR_FOREGROUND="6" # cyan
export GUM_FILTER_TEXT_FOREGROUND="7" # gray
export GUM_FILTER_MATCH_FOREGROUND="3" # yellow
export GUM_FILTER_PROMPT_FOREGROUND="5" # purple
export GUM_FILTER_PROMPT=" "
export GUM_FILTER_INDICATOR="ﰲ"
export GUM_FILTER_REVERSE="true"
export GUM_FILTER_HEIGHT="0"
export GUM_CHOOSE_CURSOR_FOREGROUND="6"
export GUM_CHOOSE_CURSOR=" "
export GUM_CHOOSE_SELECTED_FOREGROUND="6"

# fnm
eval "$(fnm env --use-on-cd)"
