# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# add stuff to PATH
path+=('/opt/homebrew')
path+=('/opt/homebrew/bin')
path+=('$(go env GOPATH)/bin')
export PATH

# fix ls colors
export LS_COLORS="di=34;40:ln=36;40:so=35;40:pi=33;40:ex=32;40:bd=1;33;40:cd=1;33;40:su=0;41:sg=0;43:tw=0;42:ow=34;40:"
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
export LSCOLORS="exgxfxdacxDaDaxbadacex"

