# use smarter clone script
# clone will copy the new repo url,
# we just need to paste it afterwards
function clone() {
  node ~/dotfiles/scripts/clone.mjs $1 && cd $(pbpaste)
}

function dir-finder {
    new_dir=$(find ~ ~/work ~/personal -mindepth 1 -maxdepth 1 -type d | fzf)
    cd $new_dir
}

function publish_current_branch() {
    git push --set-upstream origin "$(git_current_branch)":"$(git_current_branch)"
}

function delete_local_merged_branches() {
    git branch --merged "$(git_main_branch)" | grep -v "^*" | grep -v "$(git_main_branch)" | xargs git branch -d
}

# tree
function t() {
  tree -I '.git|node_modules|bower_components|.DS_Store' --dirsfirst --filelimit 30 -L ${1:-3} -aC $2
}

# generate a bitly url and copy to clipboard
function bitly() {
  printf '\n'
  echo -n "$(python ~/dotfiles/scripts/bitly.py $1)" | tee >(pbcopy)
  printf " $(tput setaf 2)[copied to clipboard]\n\n"
}

# get current IP address
function getip() {
  node ~/dotfiles/scripts/getIp.mjs
}

# run node-prune in all directories within the current dir
function prune() {
  node ~/dotfiles/scripts/prune.mjs $1
}

# kill process running on specified port
function killport() {
  lsof -i TCP:$1 | grep LISTEN | awk '{print $2}' | xargs kill -9
}

# empty the trash
function dump() {
  node ~/dotfiles/scripts/emptyTrash.mjs
}

