# use smarter clone script
# clone will copy the new repo url,
# we just need to paste it afterwards
function clone() {
  node ~/dotfiles/scripts/clone.js $1 && cd $(pbpaste)
}

function publish_current_branch() {
  git push --set-upstream origin $(git_current_branch):$(git_current_branch)
}

function delete_local_merged_branches() {
  git branch --merged | egrep -v "(^\*)" | xargs git branch -d
}

function delete_remote_merged_branches() {
  git fetch origin
  git remote prune origin
  git branch -r --merged origin/master | awk -F'/' '/^ *origin/{if(!match($0, /(>|master)/)){print $2}}' | xargs git push origin --delete
}

# tree
function t() {
  tree -I '.git|node_modules|bower_components|.DS_Store' --dirsfirst --filelimit 30 -L ${1:-3} -aC $2
}

# generate a bitly url and copy to clipboard
function bitly() {
  printf '\n'
  echo -n $(python ~/dotfiles/scripts/bitly.py $1) | tee >(pbcopy)
  printf " $(tput setaf 2)[copied to clipboard]\n\n"
}

# get current IP address
function getip() {
  node ~/dotfiles/scripts/getIp.js
}

# run node-prune in all directories within the current dir
function prune() {
  sh ~/dotfiles/scripts/prune.sh
}

# kill process running on specified port
function killport() {
  lsof -i TCP:$1 | grep LISTEN | awk '{print $2}' | xargs kill -9
}

# empty the trash
function dump() {
  node ~/dotfiles/scripts/emptyTrash.js
}

